:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #292b34;
}

section {
  margin-bottom: 1rem;
}

h1 {
  text-align: center;
  color: #c8c8c8;
  font-size: 3rem;
  margin: 2rem auto;
}

img {
  border-radius: 10px;
  margin: 0 auto;
  display: block;
}
