:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #fff7ed;
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 2rem;
  font-weight: 900;
  line-height: 40.271px;
  text-align: left;
  white-space: nowrap;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  color: #4d4d4d;
  font-size: 1.3rem;
  font-family: Inter, var(--default-font-family);
  font-weight: 600;
  line-height: 22.923px;
  white-space: nowrap;
}

.nav__github-tag img {
  height: 2rem;
  width: 2rem;
}

.nav__vans-tag {
  color: black;
}

.nav__vans-tag:hover,
.nav__login a:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.nav__login a {
  color: black;
}

section {
  flex-grow: 1;
  margin-top: 3rem;
  width: 100%;
  position: relative;
  padding: 4rem 10rem;
}

.sign-in {
  color: #161616;
  font-family: Inter, var(--default-font-family);
  font-size: 2rem;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
}

form {
  width: 50%;
  margin: 3rem auto 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

label {
  font-family: Inter, var(--default-font-family);
  font-size: 1.2rem;
}

input {
  padding: 0.8rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}

button.sign-in-btn {
  cursor: pointer;
}

.sign-in-btn {
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background: #ff8b38;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

footer {
  width: 100%;
  background: #252525;
}
.footer-txt {
  padding: 0 1rem;
  color: #aaaaaa;
  font-family: Inter, var(--default-font-family);
  font-size: 1rem;
  font-weight: 500;
  line-height: 22.923px;
  text-align: center;
}
