:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #fff7ed;
  height: auto;
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
}

.main-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 2rem;
  font-weight: 900;
  line-height: 40.271px;
  text-align: left;
  white-space: nowrap;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  color: #4d4d4d;
  font-size: 1.3rem;
  font-family: Inter, var(--default-font-family);
  font-weight: 600;
  line-height: 22.923px;
  white-space: nowrap;
}

.nav__github-tag img {
  height: 2rem;
  width: 2rem;
}

.nav__vans-tag {
  color: black;
}

.nav__vans-tag:hover,
.nav__login a:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.nav__login a {
  color: black;
}

.back-arrow {
  margin-top: 2rem;
}

.back-arrow > span {
  font-size: 1.5rem;
}

.back-arrow > a {
  margin-left: 0.5rem;
  display: inline;
  width: fit-content;
  color: #201f1d;
  font-family: Inter, var(--default-font-family);
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 22.923px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
}

section {
  flex-grow: 1;
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  margin: 4rem auto 0;
  padding-bottom: 1rem;
}

.van-details__van-image {
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 60%;
  max-height: 60%;
  min-height: 60%;
  border-radius: 0.5rem;
}

.van-details__van-type {
  margin-top: 3rem;
  color: #ffead0;
  border-radius: 5px;
  font-family: Inter, var(--default-font-family);
  font-size: 1rem;
  font-weight: 600;
  line-height: 28.903px;
  text-align: center;
  width: fit-content;
  padding: 0.3rem 1.5rem;
}

.van-details__van-type.simple {
  background-color: #e17553;
}

.van-details__van-type.rugged {
  background-color: #115e59;
}

.van-details__van-type.luxury {
  background-color: #161616;
}

.van-details__van-name {
  margin-top: 2.5rem;
  color: #161616;
  font-family: Avenir Next, var(--default-font-family);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 31.662px;
  text-align: left;
  white-space: nowrap;
}

.van-details__van-price {
  margin-top: 2.5rem;
  color: #161616;
  font-family: Avenir Next, var(--default-font-family);
  font-size: 2rem;
  font-weight: 700;
  line-height: 13.953px;
  text-align: left;
  white-space: nowrap;
}

.van-details__van-price .day {
  font-size: 1.5rem;
  font-weight: 500;
}

.van-details__van-desc {
  margin-top: 2rem;
  color: #161616;
  font-family: Inter, var(--default-font-family);
  font-size: 1rem;
  font-weight: 500;
  line-height: 23.919px;
  text-align: left;
}

.van-details__van-operation {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

.van-details__van-operation a {
  width: 50%;
}

.van-details__van-operation button {
  color: white;
  border-color: white;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 2rem;
  background: #ff8b38;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

footer {
  width: 100%;
  background: #252525;
}
.footer-txt {
  padding: 0 1rem;
  color: #aaaaaa;
  font-family: Inter, var(--default-font-family);
  font-size: 1rem;
  font-weight: 500;
  line-height: 22.923px;
  text-align: center;
}
