<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>VANMANGO</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&display=swap" />
  <link rel="stylesheet" href="/static/css/service-unavailable.css" />
</head>

<body>
  <section>
    <h1>503 Service Unavailable</h1>
    <img
      src="https://cdn.dribbble.com/userupload/22949581/file/original-d7120dbd972bc37501eea0e9aac28333.png?resize=752x564&vertical=center"
      alt="Service Unavailable" />
  </section>
</body>

</html>